@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JamAmp</h1>
</div>


<div>
    <partial name="ChordsAndScalesIndex"/>
</div>

<div>
    <partial name="TunerIndex"/>
</div>


