@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JamAmp</h1>
</div>


<aside>
    <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>
    <ins class="scales_chords_api"
         chord="g#"
         instrument="guitar"
         output="image"
         nolink="true">
    </ins>
</aside>

<div>
    <partial name="Tuner"/>
</div>
