
@{
    ViewData["Title"] = "Tuner";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OnlineTuner.co - Guitar Tuner in HTML5</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="~/css/TunerCss/site.css" rel="stylesheet">
    <link href="css/TunerCss/freelancer.css" rel="stylesheet">

    <script type="text/javascript" src="/js/TunerJS/onlinetuner.min.js"></script>
    <script type="text/javascript">
        function start() {

            //create viewer
            var views = [
                new OnlineTuner.Controller.GuitareTuner(new OnlineTuner.Widget.CircleWidget(OnlineTuner.$('tunerView'), '#ffffff', '#2c3e50', '#18bc9c', '#2c3e50'))
            ];

            //install analyser
            var analyser = new OnlineTuner.Analyser(views);

            analyser.install(function () {
                console.log("let's go");
            }, function (e) {
                OnlineTuner.$('error').style.display = 'inline';
                OnlineTuner.$('message').innerHTML = e;
            });
        }
    </script>
</head>

<body id="page-top" class="index" onload="start()">

    <canvas width="300" height="300" id="tunerView"></canvas>

</body>
</html>



